#prodbox{

    width: 25%;

    color: white;
    display: inline-block;
   

}
#inner-prodbox{

    
    background-color: white;
  border-radius: 1px;
    padding: 10px;
     margin: 0.5px;

}
#prodimg{
    width: 100%;
}
#prodname{
    color: brown;
    padding: 10px 10px 10px 0;
}
#prodmodel{
    text-transform: uppercase;

    color: grey;
}
#proddesc{
    font-size: 12px;
    margin-top: 5px;
    color: grey;
    padding: 2px;
    
}
.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}
@media screen and (max-width: 800px){
    body{
        font-size: 10px;
      
    }
    #prodbox{
        width: 33%;
    }
    #inner-prodbox{
        padding: 3px;
        
    }
    #proddesc{
        font-size: 10px;
    }
    
}
@media screen and (max-width: 600px){
    #prodbox{
        width: 50%;
    }
    
}

    
}