html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

body{
    font-family: "San Francisco Display Medium";
    line-height: 1;
    background-color: #999999 /*#d7ddea*/;
    width: 100%;
    height: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#buscador{
    padding-left: 5%;
    padding-right: 7%;
    vertical-align: top;
    width: 70%;
    color: white;

    display: inline-block;

}
::-webkit-input-placeholder { 
    color: #999999;
}
#header{
    z-index: 1;
    position: fixed;
    width: 100%;
    padding-left: 5%;

    background-color: #333;   /*#3b5998*/;
    padding-top: 8px;


    height: 48px;
    overflow: hidden;


    top: 0;


}
body {
    
    padding-top: 48px;
}

img{
    width: 100%;
    height: 100%;
}
#logo{
    vertical-align: top;

    width: 90px;
    display: inline-block;
}
#menu{

    float: right;
    width: 200px;
    display: inline-block;
    right: 0;
}

#menu> *{
    position:relative;
    width: 30px;
    display: inline-block;
    vertical-align: top; 
}
#logout a{

    position: absolute;
    text-decoration: none;

    font-size: 13px;
    background-color: #777777 /*#4e69a2*/;
    color: white;

    margin-left: 10px;
   font-size: 12px;
    padding: 4px;
    float: left;
    display: block;
    text-align: center; 
}
.carousel-caption {
    top: 35%;
    bottom: auto;

}
.carousel-caption h1{
    font-size: 45px;
}


input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 0 solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #555555;
    background-image: url('../IMG/searchicon.png');
    background-position: 10px 6px; 
    background-size: 18px;
    background-repeat: no-repeat;
    padding: 6px 20px 7px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}
input[type=text]:focus {
    width: 100%;
}


.main {
    position:relative;
    

    padding-left: 10%;
    padding-right: 10%;

    width: 100%;
    height: 100%;
}
.content{
    background-color: grey;
    padding: 10px;
}
button{
    border-radius: 3px;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    background-color: #4e69a2;
    color: white;
    border-width: 0px;

}
h3{
    font-size: 30px;

    padding-bottom: 10px;
}
.leftinfo {
    vertical-align: top;

    width: 45%;
    padding-left: 15%;
    display: inline-block;
}
.info{

    padding: 5px 20px 20px 20px;
     

    padding-top: 10px;
    width: 100%;
    color: #111a2d;
    ;
}
.rightinfo{
    display: inline-block;
    width: 49%;
    float: right;
}
.rightinfo>img{       
    width:90%;
}


#footer {

    display: block;

    width: 100%;
    height: 100px;

    position: relative;
    bottom: 0;
    left: 0;
    background-color: #333333 /*#3b5998*/;
}
@media screen and (max-width: 1050px){
    #header{
        
        height: 120px;
    }
    body{
        padding-top: 120px;
    }
    #menu{
        width: 135px;
    }
    .main{
        
        padding-left: 0;
        padding-right: 0;
    }
    #buscador{
        padding-left: 0%;
        padding-right: 0%;
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    #header{
        padding: 3%;;
    }
    .content{

    padding: 0;
}
}


